<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fkp.mapper.TestMapper">
    <resultMap id="BaseResultMap" type="com.fkp.domain.KmsServer">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="server" jdbcType="VARCHAR" property="server" />
        <result column="server_status" jdbcType="VARCHAR" property="serverStatus" />
        <result column="ip_authorization" jdbcType="INTEGER" property="ipAuthorization" />
        <result column="is_keyserver" jdbcType="INTEGER" property="isKeyserver" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="port" jdbcType="VARCHAR" property="port" />
        <result column="pwd_auth" jdbcType="VARCHAR" property="pwdAuth" />
        <result column="clientcert_auth" jdbcType="VARCHAR" property="clientcertAuth" />
        <result column="trusted_ca_id" jdbcType="VARCHAR" property="trustedCaId" />
        <result column="server_certificate_id" jdbcType="VARCHAR" property="serverCertificateId" />
        <result column="use_ssl" jdbcType="VARCHAR" property="useSsl" />
        <result column="white_list" jdbcType="VARCHAR" property="whiteList" />
        <result column="server_username" jdbcType="VARCHAR" property="serverUsername" />
        <result column="server_userpwd" jdbcType="VARCHAR" property="serverUserpwd" />
        <result column="webapp_path" jdbcType="VARCHAR" property="webappPath" />
        <result column="kmsuser" jdbcType="VARCHAR" property="kmsuser" />
        <result column="createby" jdbcType="VARCHAR" property="createby" />
        <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
        <result column="updateby" jdbcType="VARCHAR" property="updateby" />
        <result column="updatedate" jdbcType="TIMESTAMP" property="updatedate" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <select id="findPage22" resultType="com.fkp.domain.KmsServer">
        select * from kms_server where FIND_IN_SET('visa',kmsuser) and id=#{obj.id}
    </select>
</mapper>
