<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.AuthorizedperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.Authorizedper">
        <id column="T_ID" property="tId" />
        <result column="T_PID" property="tPid" />
        <result column="T_OPER" property="tOper" />
        <result column="T_NAME" property="tName" />
        <result column="T_URL" property="tUrl" />
        <result column="T_CHECK" property="tCheck" />
        <result column="T_JSPPER" property="tJspper" />
        <result column="T_OPERDO" property="tOperdo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_ID, T_PID, T_OPER, T_NAME, T_URL, T_CHECK, T_JSPPER, T_OPERDO
    </sql>

</mapper>
