<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.BackupSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.BackupSetting">
        <id column="id" property="id" />
        <result column="backup_Frequency" property="backupFrequency" />
        <result column="backup_Time" property="backupTime" />
        <result column="backup_Password" property="backupPassword" />
        <result column="backup_Range" property="backupRange" />
        <result column="host_Ip" property="hostIp" />
        <result column="user_Name" property="userName" />
        <result column="password" property="password" />
        <result column="backup_Directory" property="backupDirectory" />
        <result column="time" property="time" />
        <result column="authentication" property="authentication" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        backup_Frequency, backup_Time, backup_Password, backup_Range, host_Ip, user_Name, `password`, backup_Directory, `time`, `authentication`, id
    </sql>

</mapper>
