<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.CredentialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.Credential">
        <id column="id" property="id" />
        <result column="credentialType" property="credentialType" />
        <result column="credentialValue_id" property="credentialvalueId" />
        <result column="deviceIdentifier" property="deviceIdentifier" />
        <result column="deviceSerialNumber" property="deviceSerialNumber" />
        <result column="machineIdentifier" property="machineIdentifier" />
        <result column="mediaIdentifier" property="mediaIdentifier" />
        <result column="networkIdentifier" property="networkIdentifier" />
        <result column="pwd" property="pwd" />
        <result column="user_name" property="userName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, credentialType, credentialValue_id, deviceIdentifier, deviceSerialNumber, machineIdentifier, mediaIdentifier, networkIdentifier, pwd, user_name
    </sql>

</mapper>
