<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.DbColumnsKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.DbColumnsKey">
        <id column="id" property="id" />
        <result column="db_tableid" property="dbTableid" />
        <result column="db_table" property="dbTable" />
        <result column="db_column" property="dbColumn" />
        <result column="db_newcolum" property="dbNewcolum" />
        <result column="db_column_key" property="dbColumnKey" />
        <result column="db_extend1" property="dbExtend1" />
        <result column="db_extend2" property="dbExtend2" />
        <result column="db_extend3" property="dbExtend3" />
        <result column="db_extend4" property="dbExtend4" />
        <result column="db_extend5" property="dbExtend5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, db_tableid, db_table, db_column, db_newcolum, db_column_key, db_extend1, db_extend2, db_extend3, db_extend4, db_extend5
    </sql>

</mapper>
