<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.DbuserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.Dbuser">
        <id column="id" property="id" />
        <result column="dbtype" property="dbtype" />
        <result column="dbsid" property="dbsid" />
        <result column="db_user" property="dbUser" />
        <result column="db_name" property="dbName" />
        <result column="db_ip" property="dbIp" />
        <result column="db_port" property="dbPort" />
        <result column="createtime" property="createtime" />
        <result column="createby" property="createby" />
        <result column="status" property="status" />
        <result column="extend1" property="extend1" />
        <result column="extend2" property="extend2" />
        <result column="extend3" property="extend3" />
        <result column="extend4" property="extend4" />
        <result column="extend5" property="extend5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dbtype, dbsid, db_user, db_name, db_ip, db_port, createtime, createby, `status`, extend1, extend2, extend3, extend4, extend5
    </sql>

</mapper>
