<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.DeviceinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.Deviceinfo">
        <id column="DevID" property="devID" />
        <result column="DevSignCert" property="devSignCert" />
        <result column="DevSignPublicKey" property="devSignPublicKey" />
        <result column="DevEncCert" property="devEncCert" />
        <result column="DevEncPublicKey" property="devEncPublicKey" />
        <result column="RegisterDate" property="registerDate" />
        <result column="ZoneNO" property="zoneNO" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DevID, DevSignCert, DevSignPublicKey, DevEncCert, DevEncPublicKey, RegisterDate, ZoneNO
    </sql>

</mapper>
