<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.KekinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.Kekinfo">
        <id column="ChangeNo" property="changeNo" />
        <result column="ZoneNO" property="zoneNO" />
        <result column="DevID" property="devID" />
        <result column="UserAcc" property="userAcc" />
        <result column="AccType" property="accType" />
        <result column="Alg" property="alg" />
        <result column="PubKey" property="pubKey" />
        <result column="PriKey" property="priKey" />
        <result column="KeyVersion" property="keyVersion" />
        <result column="KeyMaterial" property="keyMaterial" />
        <result column="CreationDate" property="creationDate" />
        <result column="Status" property="status" />
        <result column="CreateBy" property="createBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZoneNO, DevID, UserAcc, AccType, Alg, PubKey, PriKey, ChangeNo, KeyVersion, KeyMaterial, CreationDate, `Status`, CreateBy
    </sql>

</mapper>
