<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.KeymaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.Keymaterial">
        <id column="id" property="id" />
        <result column="kmByteString" property="kmByteString" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, kmByteString
    </sql>

</mapper>
