<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.LdappropertiesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.Ldapproperties">
        <id column="id" property="id" />
        <result column="ip" property="ip" />
        <result column="port" property="port" />
        <result column="usessl" property="usessl" />
        <result column="trustca" property="trustca" />
        <result column="binddn" property="binddn" />
        <result column="bindpwd" property="bindpwd" />
        <result column="hashalg" property="hashalg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ip, `port`, usessl, trustca, binddn, bindpwd, hashalg
    </sql>

</mapper>
