<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.ManagedobjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.Managedobject">
        <id column="id" property="id" />
        <result column="s_archiveDate" property="sArchivedate" />
        <result column="s_contactInformation" property="sContactinformation" />
        <result column="s_initialDate" property="sInitialdate" />
        <result column="s_lastChangeDate" property="sLastchangedate" />
        <result column="s_nameType" property="sNametype" />
        <result column="s_nameValue" property="sNamevalue" />
        <result column="s_objectType" property="sObjecttype" />
        <result column="s_operationPolicyName" property="sOperationpolicyname" />
        <result column="s_uniqueIdentifier" property="sUniqueidentifier" />
        <result column="s_deleteable" property="sDeleteable" />
        <result column="s_extractable" property="sExtractable" />
        <result column="group_flag" property="groupFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, s_archiveDate, s_contactInformation, s_initialDate, s_lastChangeDate, s_nameType, s_nameValue, s_objectType, s_operationPolicyName, s_uniqueIdentifier, s_deleteable, s_extractable, group_flag
    </sql>

</mapper>
