<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.NasShareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.NasShare">
        <id column="nasId" property="nasId" />
        <result column="nasServerIp" property="nasServerIp" />
        <result column="shareName" property="shareName" />
        <result column="shareType" property="shareType" />
        <result column="status" property="status" />
        <result column="encrypter" property="encrypter" />
        <result column="displayName" property="displayName" />
        <result column="fileServerId" property="fileServerId" />
        <result column="nasUserName" property="nasUserName" />
        <result column="nasPassword" property="nasPassword" />
        <result column="createDate" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        nasId, nasServerIp, shareName, shareType, `status`, encrypter, displayName, fileServerId, nasUserName, nasPassword, createDate
    </sql>

</mapper>
