<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.SslKnownCaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.SslKnownCa">
        <id column="iId" property="iId" />
        <result column="cCertificateName" property="cCertificateName" />
        <result column="iKeySize" property="iKeySize" />
        <result column="cCertificateIssuer" property="cCertificateIssuer" />
        <result column="cCertificateSubject" property="cCertificateSubject" />
        <result column="dStartDate" property="dStartDate" />
        <result column="dExpiration" property="dExpiration" />
        <result column="iCertificateStatus" property="iCertificateStatus" />
        <result column="cCertificate" property="cCertificate" />
        <result column="iExtend" property="iExtend" />
        <result column="cExtend" property="cExtend" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        iId, cCertificateName, iKeySize, cCertificateIssuer, cCertificateSubject, dStartDate, dExpiration, iCertificateStatus, cCertificate, iExtend, cExtend
    </sql>

</mapper>
