<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.StorageServerKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.StorageServerKey">
        <id column="ID" property="id" />
        <result column="SID" property="sid" />
        <result column="SERVERIP" property="serverip" />
        <result column="LUSERID" property="luserid" />
        <result column="KEYID" property="keyid" />
        <result column="KEYALG" property="keyalg" />
        <result column="KEYLENGTH" property="keylength" />
        <result column="EXTEND1" property="extend1" />
        <result column="EXTEND2" property="extend2" />
        <result column="EXTEND3" property="extend3" />
        <result column="EXTEND4" property="extend4" />
        <result column="EXTEND5" property="extend5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SID, SERVERIP, LUSERID, KEYID, KEYALG, KEYLENGTH, EXTEND1, EXTEND2, EXTEND3, EXTEND4, EXTEND5
    </sql>

</mapper>
