<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansec.kms.zq.server.module.user.model.mapper.StructTdeInitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sansec.kms.zq.server.module.user.model.entity.StructTdeInit">
        <id column="initid" property="initid" />
        <result column="dbinstanceid" property="dbinstanceid" />
        <result column="dbip" property="dbip" />
        <result column="dbport" property="dbport" />
        <result column="dbusername" property="dbusername" />
        <result column="dbuserpwd" property="dbuserpwd" />
        <result column="standardserver" property="standardserver" />
        <result column="serverip" property="serverip" />
        <result column="serverport" property="serverport" />
        <result column="standarduser" property="standarduser" />
        <result column="createby" property="createby" />
        <result column="createtime" property="createtime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        initid, dbinstanceid, dbip, dbport, dbusername, dbuserpwd, standardserver, serverip, serverport, standarduser, createby, createtime, remarks
    </sql>

</mapper>
